@{
    ViewData["Title"] = "Contact";
}
<h2>Akel Testing Tool</h2>
<h3>Welcome to Akel Testing Tool</h3>

<address>
    Sajour Israel<br />
    20130 Sajour<br />
    <abbr title="Phone">P:</abbr>
    0509274993
</address>

<address>
    <strong>Personal Mail</strong> <a href="mailto:Akel.obied@outlook.com">Akel obied</a><br />
    <strong>Support:</strong> <a href="mailto:realakel2@gmail.com">Support Mail</a>
</address>
