@model AkelTestingTool.Models.BugsSummary

@{
    ViewData["Title"] = "Create";
}

<h2>Adding Bug</h2>


<hr />
<div class="row">
    <div class="col-md-4">


        <form asp-action="Create" enctype="multipart/form-data">



            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <b>Project</b>
                <select asp-for="ProjectsPId" class="form-control" asp-items="ViewBag.ProjectsPId"></select>

            </div>
            <div class="form-group">
                <label asp-for="Bug" class="control-label"></label>
                <input asp-for="Bug" class="form-control" />
                <span asp-validation-for="Bug" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BugSummary">Bug Steps</label> <br />
                <textarea asp-for="BugSummary" style="width: 500px; height: 150px; " text-wrap:normal" type="text" placeholder=@Html.Raw("Enter Bug Summary with Testing numberting like this example!" + Environment.NewLine + Environment.NewLine + "1. Test Case 1"+ Environment.NewLine +"2. Test Case 2"+ Environment.NewLine +"3. Test Case 3")></textarea>
                <span asp-validation-for="BugSummary" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="TesterName" class="control-label"></label>
                <input asp-for="TesterName" class="form-control" />
                <span asp-validation-for="TesterName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <b>Image</b>
                <input type="file" name="myfile" id="file" accept=".png,.jpg,.jpeg,.gif,.tif" class="btn btn-default" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                <input asp-for="ImageUrl" id="fileinput" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="StatusSTID" class="control-label"></label>
                <select asp-for="StatusSTID" asp-items="@(ViewBag.StatusList2)"></select>
                <span asp-validation-for="StatusSTID" class="text-danger"></span>
            </div>  

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><img src="@Url.Content("/images/back.png")" title="Back To List" style="width:30px; height: auto; " /></a>
</div>

@section Scripts {
 
    <script>$(document).ready(function () {
            $("#file").change(function () {
                if ($("#file").val() != "") {
                    $("#fileinput").prop("value", $("#file").val().split('\\').pop());
                }
            });
        });</script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
