@{
    ViewData["Title"] = "Welcome to Akel testing Management Tool";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Thank you for registering our app, admin will setup your account and tell you soon.</p>
</header>
