@model AkelTestingTool.Models.TestExcutions

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
@if (User.IsInRole("DemoTester"))
{
    <h4><font color="FD2D00"><b>Note: This is Demo Version you don't have all the permissions.</b></font></h4>
}
<div>
    <h4>TestExcutions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PPublicationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PPublicationDate)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.ProjectTests)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectTests.TId)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index/@ViewBag.id19">Back to List</a>
</div>
